<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <title>CBOM - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    {% load sass_tags %}
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% sass_src 'scss/_upload.scss' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fmAkg9eSNHUxdtA2I3tOcIx1WpLnE/Fnp1v6jcxep0E3aE4KbqlyqO60mY7z1EzS99mv1zKKFp8VOEYz9FqGhA==" crossorigin="anonymous" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CBOM<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <span>SBOM Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/sbomlist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>SBOM List</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/vullist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>Vulnerability List</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/liclist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>License List</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                {% if vul_count %}
                                <span class="badge badge-danger badge-counter">
                                    + 1
                                </span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            {% if vul_count %}
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">
                                            <script>
                                                var date = new Date();
                                                document.write(date.getFullYear()+"년"+"&nbsp;")
                                                document.write(date.getMonth()+ 1 +"월"+"&nbsp;")
                                                document.write(date.getDate()+"일"+"&nbsp;")
                                            </script>
                                        </div>
                                        해당 SBOM에서 <b>취약한 패키지 {{ vul_count }}개</b>를 발견하였습니다. 조치 바랍니다.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h2 class="h1 mb-0 text-primary-800">
				Dashboard
                            </h2>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Package count Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                                Package Counts</div>
                                            <div class="h2 mb-0 font-weight-bold text-gray-800">
                                                {% if package_count %}
                                                    {{ package_count }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </div>
                                            <script>
                                                var packageCount = {{ package_count|default:"0" }};
                                            </script>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- license count Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                                License Counts</div>
                                            <div class="h2 mb-0 font-weight-bold text-gray-800">
                                                {% if license_count %}
                                                    {{ license_count }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </div>
                                            <script>
                                                var licenseCount = {{ license_count|default:"0" }};
                                            </script>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-circle-info fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <!--
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">
                                                a</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">+ 0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- vulnerability count Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-danger text-uppercase mb-1">Vulnerability
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="h2 mb-0 font-weight-bold text-gray-800">
                                                        {% if vul_count %}
                                                            {{ vul_count }}
                                                        {% else %}
                                                            0
                                                        {% endif %}
                                                    </div>
                                                    <script>
                                                        var vulCount = {{ vul_count|default:"0" }};
                                                    </script>
                                                </div>
                                                <!-- <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: {{ progress_value }}%" aria-valuenow={{ progress_value }}" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div> 
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-triangle-exclamation fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Upload SBOM File</h6>
                                </div>
                                <!-- File Upload Card Body -->
                                <div class="card-body">

                       
                                    <form id="file-form" method="post" class="uploader" action="{% url 'index' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="file" id="file-drag">
                                            <input id="file" type="file" name="file" accept=".json, .spdx" />
                                                <div id="start">
                                                    <br><br><br>
                                                    <i class="fa fa-download"></i>
                                                    <div><strong>.json or .spdx file</strong></div>
                                                    <div id="notimage" class="hidden">Please select spdx or json</div>
                                                    <p></p>
                                                    <span id="file-btn" class="btn btn-primary">Select a file</span>    
                                                </div>
                                                <div id="response" class="hidden">
                                                    <br><br><br>
                                                    <i class="fa-solid fa-file fa"></i>
                                                    <div id="messages"></div>
                                                    <button id="upload-btn" class="btn btn-primary" type="submit" >Upload</button>
                                                </div>
                                                <div id="spinner-box" class="text-center mt-6 not-visible">
                                                    <div class="spinner-border text-primary" role="status"></div>
                                                </div>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
  

                                            <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Vulnerability Statistics</h6>
                                <div class="dropdown no-arrow">
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body3">
                                <div class="chart-pie pt-4 pb-2">
                                    <script>
                                        var packageStatistics = {{ package_statistics|default:"0" }};
                                    </script>
                                    <canvas id="myPieChart" style="width: 120%; height: 130%;"></canvas>
                                </div>
                                <div class="legend_custom2">
                                    <span class="legend_custom2">
                                        　　　<i class="fas fa-circle text-primary"></i>Package
                                    </span>
                                    <span class="legend_custom2">
                                        　　<i class="fas fa-circle text-danger"></i>Vulnerability　　　
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Risk Score Statistics </h6>
                                    <div class="dropdown no-arrow">
                                    </div>
                                </div>
                                <div class="card-body2">
                                    <div class="chart-pie pt-custom pb-2">
                                        <script>
                                            var risk_low = {{ risk_low|default:"0" }};
                                            var risk_medium = {{ risk_medium|default:"0" }};
                                            var risk_high = {{ risk_high|default:"0" }};
                                            var risk_critical = {{ risk_critical|default:"0" }};
                                        </script>
                                        <canvas id="chart" style="width: 103%; height: 122%;"></canvas>
                                        <div class="legend_custom">
                                            <span class="font-weight-bold" style="color: #77cc00;">LOW</span>
                                            <span class="font-weight-bold" style="color: #ff9d00;">MEDIUM</span>
                                            <span class="font-weight-bold" style="color: #e74a3b;">HIGH</span> 
                                            <span class="font-weight-bold" style="color: #1a0000;">CRITICAL</span> 
                                        </div>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Vulnerability List</h6>
                                    <a href="{% url 'export_csv' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                                </div>
                                <div class="card-body">
                                    <!-- dd -->
                                    <table class="table table-sm">
                                        <colgroup>
                                            <col width=10%>
                                            <col width=20%>
                                            <col width=40%>
                                            <col width=30%>
                                        </colgroup>
                                        {% if sbom_vul_data %}
                                        <thead class="m-0 font-weight-bold text-gray-900">
                                        <tr>
                                            <th>#</th>
                                            <th>CVE</th>
                                            <th>Package Name</th>
                                            <th>Version</th>
                                        </tr>
                                        </thead>
                                        {% else %}
                                        <p>No vulnerabilities found.</p>
                                        {% endif %}

                                        {% for vul in sbom_vul_data %}
                                        <tr>
                                            <th>{{forloop.counter}}</th>
                                            <td><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{vul.cve}}" aria-expanded="true" aria-controls="collapse{{vul.cve}}">
                                                <a href="https://nvd.nist.gov/vuln/detail/{{vul.cve}} " target="_blank">{{vul.cve}}</a>
                                            </button></td>
                                            <td>{{vul.product}}</td>
                                            <td>{{vul.version}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SBOM Project 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
    <script src="{% static 'js/spinner.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/83cf9c00d5.js" crossorigin="anonymous"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</body>

</html>
