<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    {% load cwe_filters %}

    <title>CBOM - Vulnerability List</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fmAkg9eSNHUxdtA2I3tOcIx1WpLnE/Fnp1v6jcxep0E3aE4KbqlyqO60mY7z1EzS99mv1zKKFp8VOEYz9FqGhA==" crossorigin="anonymous" />
    

    <!--페이지네이션
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">-->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CBOM<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <span>SBOM Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/sbomlist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>SBOM List</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="/vullist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>Vulnerability List</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/liclist">
                    <i class="fa fa-list fa-fw fa-2x"></i>
                    <span>License List</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar- ">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                {% if vul_count %}
                                <span class="badge badge-danger badge-counter">
                                    + 1
                                </span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            {% if vul_count %}
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">
                                            <script>
                                                var date = new Date();
                                                document.write(date.getFullYear()+"년"+"&nbsp;")
                                                document.write(date.getMonth()+ 1 +"월"+"&nbsp;")
                                                document.write(date.getDate()+"일"+"&nbsp;")
                                            </script>
                                        </div>
                                        해당 SBOM에서 <b>취약한 패키지 {{ vul_count }}개</b>를 발견하였습니다. 조치 바랍니다.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                            {% endif %}
                        </li>


                        

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Vulnerability Detailed Information</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                     -->

                    <!-- Content Row -->
                    <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-12 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary">Vulnerability Detailed Information</h4>
                                <a href="{% url 'export_csv' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                            </div>
                            <div class="card-body">
                                <!-- dd -->
                                <div class="accordion" id="employeeAccordion">
                                    {% for entry in page_items|dictsort:"cve" %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{ entry.id }}">
                                            <h2 class="mb-0">
                                                <a class="d-block card-header py-3 collapsed" data-toggle="collapse" data-target="#collapse{{ entry.id }}" role="button" aria-expanded="true" aria-controls="collapse{{ entry.id }}">
                                                    <strong><h6 class="m-0 font-weight-bold text-gray-900">{% if entry.product %}{{ entry.product }}{% else %}-{% endif %}@{% if entry.version %}{{ entry.version }}{% else %}-{% endif %}</h6></strong>
                                                </a>
                                            </h2>
                                        </div>
                                            <div id="collapse{{ entry.id }}" class="collapse" aria-labelledby="heading{{ entry.id }}" data-parent="#employeeAccordion">
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <thead class="m-0 font-weight-bold text-gray-900">
                                                            <tr>
                                                                <th>Attribute</th>
                                                                <th>Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="m-0 font-weight text-gray-800">
                                                            <tr>
                                                                <td><b>CVE ID</b></td>
                                                                
                                                                <td><a href="https://nvd.nist.gov/vuln/detail/{{entry.cve}} " target="_blank">{% if entry.cve %}{{ entry.cve }}{% else %}-{% endif %}</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>CWE ID</b></td>
                                                                <td>
                                                                    {% if entry.cwe|extract_cwe_number|is_number %}
                                                                    <a href="https://cwe.mitre.org/data/definitions/{{ entry.cwe|extract_cwe_number }}.html" target="_blank">
                                                                        {{ entry.cwe }}
                                                                    </a>
                                                                    {% else %}
                                                                        {{ entry.cwe }}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Description</b></td>
                                                                <td>{% if entry.description %}{{ entry.description }}{% else %}-{% endif %}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>RiskScore</b></td>
                                                                <td>{% if entry.riskscore %}{{ entry.riskscore }}{% else %}-{% endif %}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>RiskLevl</b></td>
                                                                <td>{% if entry.risklevel %}{{ entry.risklevel }}{% else %}-{% endif %}</td>
                                                              </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                                <!-- 페이지네이션 컴포넌트 -->
                                <br>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if page_items.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1" aria-label="First">
                                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_items.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for i in page_items.paginator.page_range %}
                                            {% if i >= page_items.number|add:"-2" and i <= page_items.number|add:"2" %}
                                                <li class="page-item {% if i == page_items.number %}active{% endif %}">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        <li class="page-item disabled" style="display:none;">
                                            <span class="page-link">
                                                Page {{ page_items.number }} of {{ page_items.paginator.num_pages }}
                                            </span>
                                        </li>

                                        {% if page_items.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_items.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_items.paginator.num_pages }}" aria-label="Last">
                                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>


            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SBOM Project 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/83cf9c00d5.js" crossorigin="anonymous"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    
    <!--페이지네이션-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- jQuery를 추가합니다. -->
    
    
    
    
    <script>
        $(document).ready(function() {
            // 페이지 버튼을 누를 때 데이터 테이블을 업데이트하는 함수
            function updateDataTable(page) {
                // 페이지 버튼을 누를 때 해당 페이지의 데이터를 가져오는 AJAX 요청을 보냅니다.
                $.ajax({
                    url: window.location.href + '?page=' + page,  // 현재 페이지 URL에 페이지 번호를 추가합니다.
                    type: 'GET',
                    success: function(data) {
                        // 데이터 테이블 업데이트
                        $('#data-table').html(data);
                    }
                });
            }
    
            // 페이지 버튼 클릭 이벤트 리스너
            $('#pagination-links').on('click', 'a', function(e) {
                e.preventDefault();
                var page = $(this).data('page');
                if (page) {
                    updateDataTable(page);
                }
            });
        });
    </script>





</body>

</html>
