#myPieChartContainer {
  position: relative;
  width: 300px; /* 도넛 차트의 너비에 맞게 조절하세요 */
}

#donutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  font-size: 1.5em;
  color: #858796;
}
